@charset "UTF-8";

/* 기본설정
   -------------------------------------------------- */

*,
*::before,
*::after {
    @include experimental("box-sizing", border-box, webkit, moz, ms);
}

html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: $base-font-size;
}

body {
    @extend html;
    min-width: 320px;
    font: {
        family: $base-font;
        weight: $base-font-weight;
    }
    letter-spacing: $base-tracking;
    line-height: $base-line-height;
    color: $base-font-color;
    position: relative;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 1.5609rem;
}
h2 {
    font-size: 1.3456rem;
}
h3 {
    font-size: 1.16rem;
}
h4, h5, h6 {
    font-size: 1rem;
}

em {
    font-style: normal;
}