@charset "UTF-8";

/* 모듈
   -------------------------------------------------- */

// 플로팅 요소들의 컨테이너
.group {
    @include clearfix;
}

// relative 포지셔닝
.pos-rel {
    position: relative;
}

// 반응형 이미지
.img-fluid {
    display: block;
    max-width: 100%;
    margin: 0;
}

// 링크가 가진 마우스오버시의 밑줄 제거
.no-underline {
    &:focus,
    &:hover {
        text-decoration: none !important;
    }
}

// `inline-block` 요소들 사이에 불필요한 스페이스 제거
.inline-fix {
    font-size: 0;

    > * {
        font-size: 1rem;
    }
}

// 캐루슬의 공통 세팅
.crsl {

    // 각 슬라이드
    &-slide {
        margin: 0 0 10px;

        &-caption {
            display: block;
        }
    }

    // 내비게이션
    &-navigation {
        &.playing [data-action="play"],
        &:not(.playing) [data-action="pause"] {
            display: none;
        }
    }

    &:not(.slick-initialized) {
        & + .crsl-navigation {
            display: none;
        }
    }
}